
<%- include("head") %>

    
    
        
<%- include("header") %>


            
            
            
            
            

    <div class="main">

        <h2>Books Added By Our Users</h2>
        
        <% for (var i in book_list) { %>

        
            <img src="<%= book_list[i].img_link %>" />
            <p><%= book_list[i].title %></p>

        <% } %>

    </div>




            
            
            
    
<%- include("footer") %>
    
        






