
<%- include("head") %>

    
    
        
<%- include("header") %>


            
            
            
            
            

    <div class="main">
        
        
        <% if (login === "yes") { %>
        
            <h4>Trades Requested: <%= trades.my_trades.length %></h4>
            <% for (var i in trades.my_trades) { %>
    
                <p data-uploader="<%= trades.my_trades[i].book_uploader %>" data-bookid="<%= trades.my_trades[i].id %>"><%= trades.my_trades[i].title %>  <small>Pending</small></p>
        
            <% } %>
            
        
            <h4>Trades Received: <%= trades.trades_to_me.length %></h4>
                <% for (var i in trades.trades_to_me) { %>
    
                    <p><%= trades.trades_to_me[i].title %><i data-uploader="<%= trades.trades_to_me[i].book_uploader %>" data-bookid="<%= trades.trades_to_me[i].id %>" class="glyphicon glyphicon-ok accept_trade"></i><i data-uploader="<%= trades.trades_to_me[i].book_uploader %>" data-bookid="<%= trades.trades_to_me[i].id %>" class="glyphicon glyphicon-minus reject_trade"></i></p>
        
                <% } %>
        
        <% } %>
        
        

        <h2>Books Added By Our Users</h2>
        
        <div class="row">
        <% for (var i in book_list) { %>

            <div class="book col-xs-3">
                
                <div class="book_image">
                    <img src="<%= book_list[i].img_link %>" />
                </div>
                
                <div class="book_title">
                    <p><%= book_list[i].title %></p>
                </div>
                
                
                <div class="trade_buttons">
                    
                    <% if (user === book_list[i].trade_requester && login === "yes") { %>
                        <i class="glyphicon glyphicon-ok" data-bookid="<%= book_list[i].id %>"></i><p>Added</p>
                    <% } 

                    else if (user === book_list[i].book_uploader) { %>
                        <i class="glyphicon glyphicon-remove" data-bookid="<%= book_list[i].id %>"></i><p class="remove_book">Remove book</p>
                    <% } 

                    else { %>
                        <i class="glyphicon glyphicon-plus" data-userid="<%= user %>" data-bookid="<%= book_list[i].id %>"></i>
                    <% } %>
                    
                </div>
            
                    


                
            </div>
        
            

        <% } %>
        </div> <!-- end row -->
    </div>




            
            
            
    
<%- include("footer") %>
    
        






