<%- include("head") %>
<%- include("header") %>


    <div class="main">

        <div class="profile_buttons col-xs-6 col-xs-offset-3">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">

                <div class="btn-group" role="group">
                    <button type="button" class="account_info_btn btn btn-primary">Account Information</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="my_books_btn btn btn-primary">My Books</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="search_books_btn btn btn-primary">Search Books</button>
                </div>

            </div>
        </div>
        
        <div class="row">
            
            <div class="user_information col-xs-6 col-xs-offset-3">
                
                <div class="name" data-userid="<%= user_id %>">
                    <strong>Name: </strong><span class="info_name"><%= name %></span><br />
                </div>
                
                <% if (city) { %>
                    <div class="city">
                        <strong>City: </strong><p class="info_city"><%= city %></p><br />
                    </div>
                    
                <% } else { %>
                    <div class="city">
                        <strong>City: </strong><span class="edit_info">Add Info</span><br />
                    </div>
                    
                <% } %>
                
                <% if (state) { %>
                    <div class="state">
                        <strong>State: </strong><p class="info_state"><%= state %></p>
                    </div>
                    
                <% } else { %>
                    <div class="state">
                        <p><strong>State: </strong><span class="edit_info">Add Info</span>
                    </div>
                    
                <% } %>
                
                <br />
                <div class="info_button">
                    <button type="button" class="btn btn-primary edit_button">Edit</button>
                </div>
                
                

            
            </div> <!-- end user information -->
            
            
            <div class="user_books col-xs-6 col-xs-offset-3">
                
                <h1>My Books</h1>
            
                <% for (var i in user_books) { %>
    
                    <p><%= user_books[i].book_title %></p>
    
                <% } %>
                
            
            </div>
        
            
            
            <div class="book_search col-xs-6 col-xs-offset-3">

                <div class="input-group">
                    <input type="text" class="form-control search_term" placeholder="Search Books" />
                    
                    <span class="input-group-btn">
                        <button class="btn btn-success search_books" type="button">Search</button>
                    </span>  
                </div> <!-- end input group -->
                
                
                
                <div class="search_results"></div>
                
                <div class="selection"></div>
            
                
                
            </div> <!-- end col xs 5 -->
        
        </div> <!-- end row -->
        

    </div> <!-- end main -->



<%- include("footer") %>