<%- include("head") %>
<%- include("header") %>


    <div class="main">

        <h2 class="text-center">This is my Profile</h2>
        
        
        <div class="row">
            
            <div class="user_information col-xs-3 col-xs-offset-1">
                
                <div class="name" data-userid="<%= user_id %>">
                    <strong>Name: </strong><span class="info_name"><%= name %></span><br />
                </div>
                
                <% if (city) { %>
                    <div class="city">
                        <strong>City: </strong><p class="info_city"><%= city %></p><br />
                    </div>
                    
                <% } else { %>
                    <div class="city">
                        <strong>City: </strong><span class="edit_info">Add Info</span><br />
                    </div>
                    
                <% } %>
                
                <% if (state) { %>
                    <div class="state">
                        <strong>State: </strong><p class="info_state"><%= state %></p>
                    </div>
                    
                <% } else { %>
                    <div class="state">
                        <p><strong>State: </strong><span class="edit_info">Add Info</span>
                    </div>
                    
                <% } %>
                
                <br />
                <div class="info_button">
                    <button type="button" class="btn btn-primary edit_button">Edit</button>
                </div>
                
                

            
            </div> <!-- end user information -->
        
            
            
            <div class="book_search col-xs-5 col-xs-offset-1">

                <div class="input-group">
                    <input type="text" class="form-control search_term" placeholder="Search Books" />
                    
                    <span class="input-group-btn">
                        <button class="btn btn-success search_books" type="button">Search</button>
                    </span>  
                </div> <!-- end input group -->
                
                
                
                <div class="search_results"></div>
                
                <div class="selection"></div>
            
                
                
            </div> <!-- end col xs 5 -->
        
        </div> <!-- end row -->
        

    </div> <!-- end main -->



<%- include("footer") %>